*{
    margin: 0;    
}

@font-face {
    font-family: 'narrow';
    src: url(fonts/narrow.otf);


}
.header {
    display: flex;
    background-color: #00c3ff;
    height: 130px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
}

.Logo {
    display: flex;
    align-items: center;
    position: relative;
}

.Logo img{
    height: 5rem;   
}


.banner__text {
    font-family: 'narrow';
    color: #ffffff;
    width: 50%;
    position: absolute;
    top: 300px;
    left: 80px;
    z-index: 2;
    font-size: 300%;
}
.banner__image {
    width: 100%;
    position: relative;
    z-index: 1;
}
.pres {
    height: 130px;
    position: relative;
    background-color: #ffffff;
}

.pres__title {
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
.pres__text {
    font-family: 'narrow';
    font-size: 150%;
    color: #009ce4e0;
    height: 50%;
    text-align: center;
}
.soporte {
    position: relative;
    display: inline block;
    text-align: center;
}
.soporte__image {
    width: 100%;
    position: relative;
    top: 5px;
    z-index: 1;
}
.soporte__title {
    font-family: 'narrow';
    position: absolute;
    font-weight: bold;
    top: 40px;
    left: 150px;
    color: #ffffff;
    z-index: 2;
    font-size: 150%;
}
.soporte__text {
    font-family: 'narrow';
    position: absolute;
    top: 90px;
    left: 20px;
    color: #ffffff;
    z-index: 2;
    font-size: 120%;
}
.soporte__button {
    font-family: 'narrow';
    position: absolute;
    background-color: #09b1ff;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    top: 150px;
    left: 220px;
    color: #ffffff;
    z-index: 2;
    font-size: 120%;
}

.footer{
    background-color: #00c3ff;
    display: flex;
    padding: 1rem;
    font-family: 'narrow';

}

.footer__direccion{
    margin-right: 40rem;
    color: #ffffff;
}

.footer__link{
    text-decoration: none;
    color:#ffffff
}
.footer__link:hover{
    color:#cacaca
}
.footer__list{
    list-style: none;
}
.footer__list li{
    display: inline-block;
    margin-right: 2rem;
    text-align: end;
    font-size: 150%
}
.footer__redes {
    position: absolute;
    left: 60rem;
}

.footer__title{
    margin-bottom: 0.60rem;
    color: #000000;
}

.pres__background{
    background-color: #009ce4e0;
}
.pres__image{
    display: inline-block;
    position: relative;
    left: 45%;
}

.prod__title {
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left:5%;
    top: 50%;
}
.prod__p__title {
    font-family: 'narrow';
    font-size: 150%;
    color: #009ce4e0;
    text-align: center;
    position: relative;
    left:5%;
    bottom: 70%;

}

.prod__description {
    font-family: 'narrow';
    font-size: 150%;
    color: #009ce4e0;
    text-align: center;
    position: relative;
    left:5%;
}

.prod__image{
    display: inline-block;
    position: relative;
    align-items: center;
    left: 45%;
}

.prod__div1{
    background-color: #ffffff;
}

.prod__background{
    background-color: #09b1ff;
}

.suport__background {
    background-color: #09b1ff;

}

.suport__title {
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left:5%;
    top: 50%;

}

.suport__title2 {
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left:5%;
    top: 50%;

}
.suport__iframe {
    display: inline-block;
    position: relative;
    align-items: center;
    left: 40%;
}

.suport__div1{
    background-color: #ffffff;
}

.fieldset{
    text-align: center;
    align-items : center

}

.contact__title{
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left:5%;
    top: 50%;
}

.contact__text{
    font-family: 'narrow';
    color: #009ce4e0;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    position: relative;
    left:5%;
    top: 50%;
}

.contact{
    background-color: #09b1ff;
}

.form__group{
    font-family: 'narrow';
    /*text-shadow: 2px 2px 2px #09b1ff;*/
    font-size: 110%;
    font-weight: bold;
    color:#ffffff
}





