/** HEADER */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 9em;
}

header {
  display: flex;
  min-height: 200px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 7s ease-in-out infinite;
}
@media (max-width: 1080px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 760px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 150px;
    min-height: 0;
  }
}
@media (max-width: 375px) {
  header {
    display: flex;
    min-height: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 375px;
    margin: -10px;
    height: 140px;
  }
}

.Logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
@media (max-width: 1080px) {
  .Logo {
    margin: 0;
    margin-top: 35px;
  }
}
@media (max-width: 760px) {
  .Logo {
    margin: 0;
    margin-top: 35px;
  }
}
@media (max-width: 375px) {
  .Logo {
    margin: 0;
    margin-top: 15px;
  }
}
.Logo img {
  height: 100px;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 760px) {
  .Logo img {
    height: 80px;
  }
}
@media (max-width: 375px) {
  .Logo img {
    height: 70px;
  }
}
.Logo img:hover {
  transform: scale(1.2);
}

.nav {
  background: transparent;
  height: 80px;
  color: #ffffff;
}
@media (max-width: 760px) {
  .nav {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 375px) {
  .nav {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}

.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 760px) {
  .nav__container {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 375px) {
  .nav__container {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}

.nav__logo {
  font-size: 1.5em;
  font-weight: 900;
}

.nav__item {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item::after {
  content: "";
  display: block;
  background: #ffffff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.4s;
}
.nav__item:hover {
  --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/**.nav__input:checked + .nav__menu
    @include gradiant;
}*/
.nav__input {
  display: none;
}
.nav__input:checked + .nav__menu {
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 7s ease-in-out infinite;
}
@media (max-width: 760px) {
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }
}
@media (max-width: 375px) {
  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav__menu {
  display: none;
}
@media (max-width: 760px) {
  .nav__menu {
    position: fixed;
    top: 0px;
    bottom: 0;
    background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
    background-size: 200%;
    animation: colorb 7s ease-in-out infinite;
    z-index: 2;
    width: 100%;
    left: 0;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 0.75s ease-in-out;
  }
}
@media (max-width: 375px) {
  .nav__menu {
    position: fixed;
    top: 0px;
    bottom: 0;
    background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
    background-size: 200%;
    animation: colorb 7s ease-in-out infinite;
    z-index: 2;
    width: 100%;
    left: 0;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 0.75s ease-in-out;
  }
}

.nav__label {
  display: none;
}
@media (max-width: 760px) {
  .nav__label {
    display: flex;
    position: absolute;
    top: 160%;
    left: 100%;
    height: 30px;
    cursor: pointer;
    z-index: 3;
  }
}
@media (max-width: 375px) {
  .nav__label {
    display: flex;
    position: absolute;
    top: 140%;
    height: 30px;
    cursor: pointer;
    z-index: 3;
  }
}

.Header__nav {
  display: inline-block;
  position: relative;
  right: 50px;
  top: 60px;
}
@media (max-width: 1080px) {
  .Header__nav {
    right: 0px;
    top: 0px;
  }
}
@media (max-width: 760px) {
  .Header__nav {
    display: none;
    right: 0px;
    top: 0px;
  }
}
@media (max-width: 375px) {
  .Header__nav {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0%;
  }
}
@media (max-width: 1080px) {
  .Header__nav ul {
    padding: 0;
  }
}
@media (max-width: 760px) {
  .Header__nav ul {
    padding: 0;
  }
}
@media (max-width: 375px) {
  .Header__nav ul {
    padding: 0;
  }
}
.Header__nav ul li {
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 1080px) {
  .Header__nav ul li {
    margin: 0;
  }
}
@media (max-width: 760px) {
  .Header__nav ul li {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .Header__nav ul li {
    margin: 0;
  }
}
.Header__nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
.Header__nav ul li a:hover {
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
@media (max-width: 1080px) {
  .Header__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
  }
}
@media (max-width: 760px) {
  .Header__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    display: none;
  }
}
@media (max-width: 375px) {
  .Header__nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    display: none;
  }
}

/** BANNER */
.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0%;
}
@media (max-width: 375px) {
  .banner {
    width: 385px;
  }
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner p {
  font-size: 2vw;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 10px #000000;
  position: absolute;
  top: 20%;
  left: 5%;
}
@media (max-width: 760px) {
  .banner p {
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 10px #000000;
    position: absolute;
    top: 20%;
    left: 5%;
  }
}
@media (max-width: 375px) {
  .banner p {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 10px #000000;
    position: absolute;
    top: 20%;
    left: 5%;
  }
}

/** ABOUT */
.about {
  background-color: #ffffff;
  width: 100%;
  height: 180px;
  position: relative;
}
@media (max-width: 375px) {
  .about {
    width: 385px;
    height: 150px;
  }
}

.p1 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 156, 228, 0.8784313725);
  position: absolute;
  top: 0%;
  left: 5%;
}
@media (max-width: 1795px) {
  .p1 {
    font-size: 25px;
  }
}
@media (max-width: 760px) {
  .p1 {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .p1 {
    font-size: 20px;
    top: -10%;
    left: 5%;
  }
}

.p2 {
  color: rgba(0, 156, 228, 0.8784313725);
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 40%;
  left: 3%;
  text-align-last: center;
}
@media (max-width: 1795px) {
  .p2 {
    font-size: 22px;
    top: 30%;
    left: 3%;
  }
}
@media (max-width: 760px) {
  .p2 {
    font-size: 15px;
    top: 30%;
    left: 3%;
  }
}
@media (max-width: 375px) {
  .p2 {
    font-size: 15px;
    top: 20%;
    left: 3%;
  }
}

.about__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c3ff;
}
@media (max-width: 375px) {
  .about__image {
    width: 375px;
  }
}
.about__image img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .about__image img {
    width: 385px;
    left: 10px;
  }
}

.about__banner {
  width: 100%;
  margin: 0 auto;
}
.about__banner img {
  width: 100%;
  height: auto;
}
@media (max-width: 375px) {
  .about__banner img {
    width: 385px;
  }
}

.text__container {
  width: 50%;
  position: relative;
  left: 25%;
}

.pa {
  font-size: 15px;
  color: rgba(0, 156, 228, 0.8784313725);
  text-align: center;
}
.pa a {
  text-decoration: none;
}

.ta {
  font-size: 20px;
  color: rgba(0, 156, 228, 0.8784313725);
  text-align: center;
}

/** SUPPORT */
.support {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0%;
  margin-bottom: -4px;
}
@media (max-width: 375px) {
  .support {
    width: 385px;
    height: 150px;
  }
}
.support img {
  width: 100%;
}
@media (max-width: 760px) {
  .support img {
    width: 760px;
    height: 170px;
  }
}
@media (max-width: 375px) {
  .support img {
    width: 500px;
    height: 146px;
  }
}
.support h3 {
  position: absolute;
  top: 2%;
  left: 15%;
}
@media (max-width: 760px) {
  .support h3 {
    font-size: 3vw;
    top: 10%;
    left: 15%;
  }
}
@media (max-width: 375px) {
  .support h3 {
    font-size: 3vw;
    top: 10%;
    left: 15%;
  }
}
.support p {
  position: absolute;
  top: 30%;
  left: 7%;
}
@media (max-width: 760px) {
  .support p {
    font-size: 2vw;
    top: 40%;
    left: 7%;
  }
}
@media (max-width: 375px) {
  .support p {
    font-size: 2vw;
    top: 40%;
    left: 7%;
  }
}

.p3, .p4 {
  font-size: 3vw;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 10px #000000;
}

.p4 {
  font-size: 2vw;
}

.support__btn {
  font-size: 2vw;
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 2s ease-in-out infinite;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 26%;
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  box-shadow: 1px 1px 4px #000000;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 760px) {
  .support__btn {
    top: 30%;
    left: 70%;
  }
}
@media (max-width: 375px) {
  .support__btn {
    top: 25%;
    left: 70%;
  }
}
.support__btn:hover {
  background-color: #00c3ff;
  transform: scale(1.2);
}

.support__iframe {
  width: 760px;
  height: auto;
}
@media (max-width: 760px) {
  .support__iframe {
    width: 760px;
    height: auto;
  }
}
.support__iframe iframe {
  width: 760px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
}
@media (max-width: 760px) {
  .video-responsive {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
  }
}
.video-responsive iframe {
  width: 375px;
}

/** FOOTER */
footer {
  position: absolute;
  bottom: 0;
}

.p5 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 156, 228, 0.8784313725);
  position: absolute;
  top: 10%;
  left: 40%;
}
@media (max-width: 375px) {
  .p5 {
    font-size: 10px;
    top: 10%;
    left: 40%;
  }
}

.p6 {
  position: absolute;
  font-size: 30px;
  color: rgba(0, 156, 228, 0.8784313725);
  font-weight: normal;
  top: 40%;
  left: 5%;
  text-align-last: center;
}
@media (max-width: 375px) {
  .p6 {
    font-size: 10px;
  }
}

.p7 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 156, 228, 0.8784313725);
  position: absolute;
  top: -15%;
  left: 37%;
}
@media (max-width: 375px) {
  .p7 {
    font-size: 10px;
  }
}

.footer__grid {
  display: grid;
  width: 100%;
  justify-content: center;
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 7s ease-in-out infinite;
  grid-template-columns: 32% 68%;
}
@media (max-width: 375px) {
  .footer__grid {
    width: 385px;
    height: 160px;
    grid-template-columns: 32% 68%;
  }
}
.footer__grid div {
  text-align: center;
  font-weight: bold;
}
.footer__grid p {
  color: #ffffff;
  font-size: 18px;
}
@media (max-width: 1080px) {
  .footer__grid p {
    font-size: 16px;
  }
}
@media (max-width: 760px) {
  .footer__grid p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .footer__grid p {
    font-size: 8px;
  }
}

.buttons {
  width: 100%;
  margin: auto;
}
.buttons a {
  text-decoration: none;
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 375px) {
  .buttons a {
    font-size: 13px;
  }
}
.buttons a:hover {
  transform: scale(1.2);
}

.prod__title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 156, 228, 0.8784313725);
  margin-top: 100px;
}

.prod__div {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
}

.card {
  color: #757575;
}

.prod__div .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px #6e6e6e;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.prod__div .card h4 {
  font-weight: 600;
}
.prod__div .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.prod__div .card a {
  font-weight: 300;
  text-decoration: none;
  color: rgba(0, 156, 228, 0.8784313725);
}
.prod__div .card img {
  width: 330px;
  height: 220px;
}
.prod__div .card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 12px 10px #6e6e6e;
}

.productos__div {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.productos__container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
@media (max-width: 760px) {
  .productos__container {
    width: 755px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
@media (max-width: 375px) {
  .productos__container {
    width: 370px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.productos__li {
  text-align: start;
  color: #757575;
}

.productos__text {
  text-align: center;
  color: #757575;
}

.productos__text2 {
  text-align: center;
  color: rgba(0, 156, 228, 0.8784313725);
}

.productos__titulo {
  color: rgba(0, 156, 228, 0.8784313725);
  text-align: center;
}

.productos__titulo2 {
  display: flex;
  justify-content: center;
  color: rgba(0, 156, 228, 0.8784313725);
  text-align: center;
  align-items: center;
}
.productos__titulo2 a {
  text-decoration: none;
}

.contact {
  text-align: center;
}

.contact2 {
  text-align: center;
  width: auto;
  min-width: none;
}
@media (max-width: 375px) {
  .contact2 {
    width: 385px;
  }
}

.contact__title {
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 156, 228, 0.8784313725);
  margin-top: 50px;
}

.contact__text {
  font-size: 20px;
  color: rgba(0, 156, 228, 0.8784313725);
}

.fieldset {
  background-color: rgba(0, 156, 228, 0.8784313725);
}
@media (max-width: 375px) {
  .fieldset {
    width: 385px;
  }
}

.form__group {
  color: #ffffff;
}

.whatsapp {
  position: relative;
  width: 100%;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-icon-whatsapp {
  position: absolute;
  top: 0%;
  cursor: pointer;
  transition: all 0.2s;
}
.image-icon-whatsapp:hover {
  transform: scale(0.9);
}
.image-icon-whatsapp:active {
  transform: scale(0.8);
}

.formulariowtsp {
  width: 220px;
  height: 280px;
  border-radius: 5px;
  position: relative;
  top: 100px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2196078431);
  padding: 5px 10px;
  display: none;
}

.inputwts {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-family: arial;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1882352941);
  color: #757575;
}
.inputwts:focus {
  outline: none;
}

.textareawts {
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  height: 140px;
  max-height: 140px;
  min-height: 140px;
  font-family: arial;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1882352941);
  color: #757575;
}
.textareawts:focus {
  outline: none;
}

.newmessagewts {
  font-family: arial;
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  line-height: 10px;
}

.btnwtsp {
  width: 100%;
  border: none;
  padding: 5px;
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 2s ease-in-out infinite;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

label {
  font-family: arial;
  font-size: 14px;
  color: #757575;
}

.entrarysalir {
  display: block;
}

.closemodal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: linear-gradient(45deg, #0096ec, #00a2ff, #0099ff, #85e3ff);
  background-size: 200%;
  animation: colorb 2s ease-in-out infinite;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  line-height: 15px;
  cursor: pointer;
}

@keyframes colorb {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*# sourceMappingURL=style.css.map */
