/** HEADER */

header{
    display:flex;
    min-height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include gradiant;

}

.Logo{
    display: flex;
    align-items: center; ;
    margin-left: 50px;
        img{
            height: 100px;
            transition: $transition-btn;
                &:hover{
                    transform: $transform-btn;
                }
        }
}

.nav {
    background: transparent;
    height: 80px;
    color: $ft-white;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1.5em;
    font-weight: 900;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color: $ft-white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
        &::after{
            content: "";
            display: block;
            background:$ft-white;
            width: 90%;
            margin-top: 3px;
            height: 3px;
            clip-path: var(--clippy);
            transition: clip-path .4s;
        }
        &:hover{
            --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
}

.nav__input:checked + .nav__menu{
    @include gradiant;
}

.nav__label, .nav__input, .nav__menu{
    display: none;
}




.Header__nav {
    display: inline-block;
    position: relative;
    right: 50px;
    top: 60px;
        li{
            display: inline-block;
            margin-right: 10px;
            a{
                font-size: 20px;
                text-decoration: none;
                color: $ft-white;
                font-weight: $negrita;
                padding: 10px;
                    &:hover{
                        @include borders;
                    }
            }
        }
}