$ft-blue: #009ce4e0;
$ft-white: #ffffff;
$ft-gray: #757575;
$bg-blue: #00c3ff;
$gridtemp: 32% 32% 32%;
$fontf: 'Roboto', sans-serif;
$gradiant-blue: linear-gradient(45deg, #0096ec , #00a2ff, #0099ff, #85e3ff);
$gradiant-animation: colorb 7s ease-in-out infinite;
$gradiant-animation-btn: colorb 2s ease-in-out infinite;
$gradiant-bgz: 200%;
$transition-btn: all .4s ease-in-out;
$btn-box-shadow: 1px 1px 4px #000000;
$bnr-box-shadow: 2px 2px 10px #000000;
$card-box-shadow: 0px 2px 2px #6e6e6e;
$card-box-shadow-h: 0px 12px 10px #6e6e6e;
$form-shadow: 0 2px 20px 0 #00000038;
$input-border: 1px solid #00000030;
$negrita: bold;
$transition-txt: all .6s ease-in-out;
$transform-btn: scale(1.2);
$transform-txt: scale(1.1);