@import "__variables.scss";
@import "__mixin.scss";
@import "__header.scss";
@import "__banner.scss";
@import "__about.scss";
@import "__support";
@import "__footer.scss";
@import "__products.scss";
@import "__contact.scss";
@import "__whatsapp.scss";


@keyframes colorb{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}